// fonts
$font-main-title: 80px;
$font-title: 60px;
$font-paragraph: 20px;


// color
$color-body: #fff;
$color-theme: #000;
$color-paragraph: #737373;
$color-subtitle: #bbb;
$color-anchor: #656565;